body :not(.logo) {
    font-family: "Roboto", sans-serif;
}
.logo {
    color: black;
    font-family: Raleway;
}
.logo span {
    color: #2196F3;
}
a:hover:not(.logo.logo2) {
    color: rgb(56, 158, 226);
}
.content {
 background-color: #2F303A;
}
.content h1 {
    color:white;
}
.content button {
    background-color: #2196F3;
    box-shadow: 8px 4px 4px 0px #00000026;
    color: white;
}